
/* ========================================== *\
  # CSS Variables Section Start.
\* ========================================== */
:root {
  --header-height: 10rem;

  /* ========== Colors One ========== */
  --white: #FFFFFF;
  --yellow: #F6BD26;
  --primary-100: #2179FF;
  --primary-90: #1E6DE5;
  --primary-80: #1B61CC;
  --primary-70: #1755B2;
  --primary-40: #0D3166;
  --primary-20: #071833;
  --secondary-100: #21FFFF;
  --secondary-20: #073333;
  --neutral-100: #FAFCFF;
  --neutral-98: #F2F5FA;
  --neutral-95: #E9ECF2;
  --neutral-90: #DADFE5;
  --neutral-80: #C2C6CC;
  --neutral-60: #919499;
  --neutral-50: #797C80;
  --neutral-40: #616366;
  --neutral-30: #494A4D;
  --neutral-20: #303133;
  --neutral-10: #18191A;
  --neutral-5: #0C0C0D;
  --error-100: #FF2134;

  /* ========== Colors Two ========== */
  /* HSL(hue, saturation, lightness) */
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #FFF;
  --container-color: #FFF;

  /* Gradient */
  --gradient: linear-gradient(270deg, #0F4392 0%, #001D3D 100%);

  /* ========== Font and typography ========== */
  /* Font Family */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Font Size */
  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;

  /* ========== Letter Spacing ========== */
  --tracking-n-025: -0.25px;
  --tracking-p-05: 0.5px;

  /* ========== z-index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* ========== Line Height ========== */
  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;

  /* ========== Radius ========== */
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;

  /* ========== Shadow ========== */
  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001A;

  /* ========== Transition ========== */
  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;
}
/* ========================================== *\
  # CSS Variables Section End.
\* ========================================== */

/* ========================================== *\
  # Base Styling Start.
\* ========================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-98);
  color: var(--neutral-5);
  line-height: var(--lh-body-medium);
}

body.no-scroll {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input, button, select {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input, select {
  width: 100%;
  outline: none;
}

address {
  font-style: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-90);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-60);
  border-radius: 4px;
}
/* ========================================== *\
  # Base Styling End.
\* ========================================== */

/* ========================================== *\
  # Typography Styling Start.
\* ========================================== */



/* ========================================== *\
  # Typography Styling End.
\* ========================================== */

/* ========================================== *\
  #  Reused Styles Start.
\* ========================================== */



/* ========================================== *\
  #  Reused Styles End.
\* ========================================== */

/* ========================================== *\
  # Component Styling Start.
\* ========================================== */



/* ========================================== *\
  # Component Styling End.
\* ========================================== */


/* ========================================== *\
  # Cart Empty Styling Start.
\* ========================================== */
.section-cart {
  display: block;
  min-width: 1000px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.section-cart .cart-main {
  display: flex;
  width: 1180px;
  height: auto;
  margin: 24px 255px;
}

.section-cart .cart-main .cart-empty-group {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 16px;
}

.section-cart .cart-main .cart-empty-group .fallback-empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1148px;
  height: 265px;
  padding: 0 345px 60px 345px;
}

.section-cart .cart-main .cart-empty-group .fallback-empty-cart .fallback-cart-image {
  display: block;
  width: 265px;
  height: 265px;
}

.section-cart .empty-cart-container {
  display: block;
  max-width: 1500px;
  width: 1500px;
  height: auto;
  margin: 0 77px;
}

.section-cart .empty-cart-container .cart-message-box {
  display: block;
  width: 1500px;
  height: 405px;
}

.section-cart .empty-cart-container .cart-left-column {
  display: block;
  width: 1200px;
  height: auto;
  padding-right: 20px;
  overflow: hidden;
}

.section-cart .empty-cart-container .top-card {
  display: block;
  width: 1180px;
  height: 146px;
  background-color: var(--white);
  padding: 20px 0 15px 0;
  margin-bottom: 20px;
}

.section-cart .empty-cart-container .top-card .card-content {
  display: block;
  width: 100%;
  height: 111px;
  padding: 0 20px 5px 20px;
  overflow: hidden;
}

.section-cart .empty-cart-container .top-card .card-header {
  display: block;
  width: 1140px;
  height: 52px;
}

.section-cart .empty-cart-container .top-card .card-header .extra-large-title {
  display: block;
  font-size: 28px;
  font-weight: 400;
  color: var(--neutral-5);
  line-height: 36px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.section-cart .empty-cart-container .top-card .card-message {
  display: block;
  width: 1140px;
  height: 40px;
  margin-bottom: 14px;
  overflow: hidden;
}

.section-cart .empty-cart-container .top-card .card-message .message {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral-5);
}

.section-cart .empty-cart-container .top-card .card-message .message .link {
  color: var(--first-color);
}

.section-cart .empty-cart-container .top-card .card-message .message .link:hover {
  text-decoration: underline;
}

/* ========================================== *\
  # Cart Empty Styling End.
\* ========================================== */