/* ========================================== *\
  # CSS Variables Section Start.
\* ========================================== */
:root {
  --header-height: 10rem;

  /* ========== Colors One ========== */
  --white: #FFFFFF;
  --yellow: #F6BD26;
  --primary-100: #2179FF;
  --primary-90: #1E6DE5;
  --primary-80: #1B61CC;
  --primary-70: #1755B2;
  --primary-40: #0D3166;
  --primary-20: #071833;
  --secondary-100: #21FFFF;
  --secondary-20: #073333;
  --neutral-100: #FAFCFF;
  --neutral-98: #F2F5FA;
  --neutral-95: #E9ECF2;
  --neutral-90: #DADFE5;
  --neutral-80: #C2C6CC;
  --neutral-60: #919499;
  --neutral-50: #797C80;
  --neutral-40: #616366;
  --neutral-30: #494A4D;
  --neutral-20: #303133;
  --neutral-10: #18191A;
  --neutral-5: #0C0C0D;
  --error-100: #FF2134;

  /* ========== Colors Two ========== */
  /* HSL(hue, saturation, lightness) */
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #FFF;
  --container-color: #FFF;

  /* Gradient */
  --gradient: linear-gradient(270deg, #0F4392 0%, #001D3D 100%);

  /* ========== Font and typography ========== */
  /* Font Family */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Font Size */
  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;

  /* ========== Letter Spacing ========== */
  --tracking-n-025: -0.25px;
  --tracking-p-05: 0.5px;

  /* ========== z-index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* ========== Line Height ========== */
  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;

  /* ========== Radius ========== */
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;

  /* ========== Shadow ========== */
  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001A;

  /* ========== Transition ========== */
  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;
}
/* ========================================== *\
  # CSS Variables Section End.
\* ========================================== */

/* ========================================== *\
  # Base Styling Start.
\* ========================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-98);
  color: var(--neutral-5);
  line-height: var(--lh-body-medium);
}

body.no-scroll {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input, button, select {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input, select {
  width: 100%;
  outline: none;
}

address {
  font-style: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-90);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-60);
  border-radius: 4px;
}
/* ========================================== *\
  # Base Styling End.
\* ========================================== */

/* ========================================== *\
  # Header Styling Start.
\* ========================================== */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #fff;
  z-index: 200;
}

.header .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 15px 100px;
  background-color: transparent;
}

/* ========== Top Header Styling. ========== */
.header .top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.header .top-header .search-box {
  position: relative;
  height: 40px;
  width: 600px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 0 0 0 20px;
}

.header .top-header .search-box input {
  width: 84%;
  font-size: 15px;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 10px;
}

.header .top-header .search-box .image-search-wrapper {
  position: relative;
}

.header .top-header .search-box .image-search-wrapper::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 10px;
  width: 24px;
  height: 20px;
  pointer-events: auto;
}

.header .top-header .search-box .image-search-wrapper .image-search-icon {
  cursor: pointer;
  font-size: 24px;
  margin: 8px 10px 0 0;
  position: relative;
}

.header .top-header .search-box .image-search-wrapper .image-search-box {
  display: none;
  position: absolute;
  top: 45px;
  right: -175px;
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  pointer-events: auto;
}

.header .top-header .search-box .image-search-wrapper:hover .image-search-box {
  display: block;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-search-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-search-description {
  font-size: 14px;
  margin-bottom: 20px;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #fafafa;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-drop-icon {
  font-size: 48px;
  color: #bbb;
  margin-bottom: 10px;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-drop-text {
  font-size: 14px;
  font-weight: bold;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-drop-option {
  font-size: 16px;
  color: #707070;
  margin: 5px 0;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-upload-button {
  background: #D3031C;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-search-note {
  font-size: 14px;
}

.header .top-header .search-box .search-icon {
  background: #000;
  border-radius: 35px;
  color: #fff;
  width: 60px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .top-header .shopping-cart {
  color: #000;
}

/* ========== Login Button Styling. ========== */
.header .top-header .login-button {
  position: relative;
  width: 120%;
  height: 100%;
  top: 0;
  left: -10%;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.header .top-header .login-button span {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.6em 1em 0.6em 1.2em;
}

/* ========== Sign Up Button Styling. ========== */
.header .top-header .sign-up-button {
  position: relative;
  width: 120%;
  height: 100%;
  top: 0;
  left: -10%;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.header .top-header .sign-up-button span {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.6em 1em 0.6em 1.2em;
}

/* ========== Second Header (navigation) Styling. ========== */
.header .navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.header .navigation .navigation-items {
  display: flex;
  gap: 20px;
}

.header .navigation .navigation-items a {
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

.header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: #000;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.header .navigation .navigation-items a:hover:before {
  width: 100%;
}

/* ========== Sidebar Menu Styling. ========== */
.sidebar-icon {
  position: relative;
  left: -16vw;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

#closeIcon {
  color: #fff;
  display: none;
  position: fixed;
  top: 2vh;
  left: 22vw;
  font-size: 32px;
  font-weight: 600;
  transition: all .5s ease;
  z-index: 50;
  cursor: pointer;
}

#closeIcon.visible {
  display: block;
}

.header .container .navigation .sidebar-menu-categories {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 365px;
  background-color: var(--white);
  transform: translateX(-100%);
  transition: all .5s ease;
  z-index: 50;
  overflow-y: auto;
  overflow-x: hidden;
}

.header .container .navigation .sidebar-menu-categories.active {
  transform: translateX(0);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items.move-left {
  transform: translateX(-100%);
}

.header .container .navigation .sidebar-menu-categories .sidebar-title {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--text-color-light);
  color: var(--neutral-5);
  transition: all .5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-title:hover {
  color: var(--first-color-light);
}

.header .container .navigation .sidebar-menu-categories .sidebar-title a {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.6em 1em 0.6em 4.5em;
  gap: 10px;
}

.header .container .navigation .sidebar-menu-categories .sidebar-title a span {
  font-size: 2.5rem;
  text-align: center;
}

.header .container .navigation .sidebar-menu-categories .sidebar-title a h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items h4 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 3em;
  margin: 0;
  padding-top: 1em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .submenu h4 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 2.7em;
  margin: 0;
  padding-top: 1em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .hmenu-items,
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .submenu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 0 3em;
  transition: all 0.5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .hmenu-items:hover,
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .submenu ul li:hover {
  color: var(--first-color-light);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .material-symbols-outlined {
  cursor: pointer;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items hr {
  margin-top: 1em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-help-menu .icon {
  vertical-align: bottom;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .last-line {
  margin-top: 2em;
}

/* ========== Expanded Submenu Styling ========== */
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu.active {
  transform: translateX(0);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu .submenu-back-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10.5em 0 3em;
  transition: all .5s ease;
  cursor: pointer;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu .submenu-back-button:hover {
  color: var(--first-color-light);
}

/* ========== Dropdown Submenu Styling ========== */
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .hmenu-items {
  padding-right: 13.5em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .hmenu-items.active {
  color: var(--first-color-light);
  background-color: var(--neutral-80);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .hmenu-items.active .material-symbols-outlined {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .submenu {
  display: none;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .submenu.active {
  display: block;
}

/* ========== Overlay Filter Styling ========== */
.header .container .navigation #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  display: none;
}

.header .container .navigation #overlay.active {
  display: block;
  opacity: 1;
}

/* ========================================== *\
  # Header Styling End.
\* ========================================== */

/* ========================================== *\
  # Product Description Page Styling Start.
\* ========================================== */
.section-products {
  display: block;
  max-width: 1712px;
  min-width: 1232px;
  width: auto;
  height: auto;
  margin: 8px 48px 30px 48px;
  overflow: hidden;
}

.section-products .wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.section-products .quick-links {
  display: flex;
  align-items: center;
  width: 1595px;
  height: 20px;
  gap: 10px;
  margin-top: 8px;
}

.section-products .go-back {
  display: block;
  top: 0;
  left: 0;
  width: 1200px;
  height: 14px;
  line-height: 20px;
  padding: 0 16px;
}

.section-products .back-to.link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section-products .go-back .back-link {
  display: flex;
  align-items: center;
  max-width: max-content;
  line-height: 14px;
  text-align: left;
  color: #000;
}

.section-products .go-back .back-link span {
  font-size: 12px;
  max-height: max-content;
}

.section-products .go-back .back-link:hover .back-text {
  text-decoration: underline;
}

.section-products .share-product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0 16px;
  cursor: pointer;
}

.section-products .share-product span {
  font-size: 20px;
  font-weight: 400;
}

.section-products .container {
  display: block;
  width: 100%;
  height: 100%;
}

.section-products .container .last-line-divider {
  display: block;
  width: 100%;
  height: 1px;
  color: var(--neutral-30);
  margin: 16px 0;
}

.section-products .container .product-content-wrap {
  display: flex;
  width: 1600px;
  height: auto;
  margin-top: 5px;
}

/* ========== Left Side ========== */
.section-products .mini-content-left {
  display: block;
  width: 538.198px;
  height: 1000px;
  padding-top: 8px;
}

.section-products .mini-content-left .main-image-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 457.469px;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 80.73px;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-wrap {
  position: absolute;
  display: block;
  width: 64.583px;
  height: 457.469px;
  top: 0;
  left: 0;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-wrap .slider {
  position: relative;
  display: block;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-wrap .slider::-webkit-scrollbar {
  display: none;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-wrap .slider .slider-items-container {
  display: block;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-item {
  display: block;
  width: 64.583px;
  height: 64.583px;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-item.space {
  margin-top: 16px;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-item .slider-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-width: 2px;
  cursor: pointer;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .slider-item .slider-item-image img {
  max-width: 100%;
  max-height: 100%;
}

.section-products .mini-content-left .main-image-wrap .image-view-wrap .image-view-preview-wrap {
  position: relative;
  display: block;
  width: 457.469px;
  height: 457.469px;
}

.section-products .mini-content-left .magnifier-image {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

/* ========== Tabled Details ========== */
.section-products .mini-content-left .image-table-divider {
  display: block;
  width: 100%;
  height: 1px;
  color: var(--neutral-30);
  margin-top: 120px;
  margin-bottom: 16px;
}

.section-products .mini-content-left .expander-table-wrapper {
  display: block;
  width: auto;
  height: 400px;
  overflow: hidden;
  padding-bottom: 10px;
}

.section-products .mini-content-left .expander-table-wrapper .table-content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 8px 0;
}

.section-products .mini-content-left .expander-table-wrapper .table-content .po-table .sp-spacing-small {
  display: table-row;
  width: 100%;
  height: 23px;
  vertical-align: middle;
  margin-bottom: 8px;
}

.section-products .mini-content-left .expander-table-wrapper .table-content .po-table .sp-spacing-small .row-title {
  display: table-cell;
  width: 153px;
  height: 23px;
  vertical-align: top;
  padding: 0 3px 3px 0;
  color: var(--neutral-5);
}

.section-products .mini-content-left .expander-table-wrapper .table-content .po-table .sp-spacing-small .row-title .text-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--neutral-5);
}

.section-products .mini-content-left .expander-table-wrapper .table-content .po-table .sp-spacing-small .row-content {
  display: table-cell;
  width: 400px;
  height: 23px;
  vertical-align: top;
  padding: 0 0 3px 3px;
}

.section-products .mini-content-left .expander-table-wrapper .table-content .po-table .sp-spacing-small .row-content .text-regular {
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral-5);
}

/* ========== Center ========== */
.section-products .mini-content-center {
  display: block;
  width: 657.792px;
  height: 1170px;
  padding: 8px 0 0 24px;
}

.section-products .mini-content-center .big-sale-banner {
  position: relative;
  display: block;
  width: 633.792px;
  height: 48px;
}

.section-products .mini-content-center .banner-background {
  position: relative;
  display: flex;
  align-items: center;
  width: 633.792px;
  height: 100%;
  padding: 0 16px;
  overflow: hidden;
  background-image: url(Assets/Images/Icons/Banner-Background.png);
  background-size: cover;
}

.section-products .mini-content-center .banner-background .banner-big-sale-content {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 357.4px;
  height: 100%;
}

.section-products .mini-content-center .banner-background .black-friday-slogan {
  display: block;
  width: 216px;
  height: 48px;
}

.section-products .mini-content-center .banner-background .banner-text {
  width: 325.4px;
  height: 20px;
  max-height: 32px;
  padding: 0 8px;
  overflow: hidden;
}

.section-products .mini-content-center .banner-background .banner-text img {
  width: 12px;
  height: 16px;
  vertical-align: middle;
}

.section-products .mini-content-center .banner-background .banner-text span {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--white);
  vertical-align: middle;
}

.section-products .mini-content-center .big-sale-banner .big-sale.countdownwrap {
  position: absolute;
  display: block;
  width: 229.4px;
  height: 16px;
  line-height: 16px;
  text-align: right;
  right: 0;
  bottom: -20px;
}

.section-products .mini-content-center .big-sale-banner .big-sale.countdownwrap .countdown span {
  display: inline;
  font-size: 12px;
  text-align: right;
  color: #FD384F;
  margin-right: 4px;
}

.section-products .mini-content-center .big-sale-banner .big-sale.countdownwrap .countdown .timer {
  display: inline-block;
  font-size: 12px;
  text-align: right;
  color: #FD384F;
}

.section-products .mini-content-center .price-wrap {
  display: block;
  width: 633px;
  height: 40px;
  margin-top: 16px;
}

.section-products .mini-content-center .price-wrap .price-current {
  display: inline-block;
  height: 40px;
  line-height: 24px;
  padding-right: 5px;
}

.section-products .mini-content-center .price-wrap .price-current span {
  font-size: 40px;
  font-weight: 700;
  color: var(--neutral-5);
  line-height: 40px;
}

.section-products .mini-content-center .price-wrap .price-original {
  display: inline-block;
  padding: 0 4px;
  margin-top: 2px;
}

.section-products .mini-content-center .price-wrap .price-original .price-originaltext {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--neutral-40);
  text-decoration-line: line-through;
}

.section-products .mini-content-center .price-wrap .price-original .price-discount {
  font-size: 20px;
  color: #FD384F;
  line-height: 24px;
  padding: 0 4px;
}

.section-products .mini-content-center .vat-installment-wrap {
  display: block;
}

.section-products .mini-content-center .vat-installment-wrap .vat-installment-item {
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-30);
}

.section-products .mini-content-center .coupon-block-wrap {
  display: flex;
  background: linear-gradient(270deg, rgb(255, 245, 245) 48.93%, rgb(255, 229, 232) 100%);
  width: 633px;
  height: 34px;
  margin-top: 8px;
  padding: 8px;
  overflow: hidden;
}

.section-products .mini-content-center .coupon-block-wrap .coupon-block-box {
  display: block;
  width: 557.4px;
  height: 18px;
  overflow: hidden;
}

.section-products .mini-content-center .coupon-block-wrap .coupon-block-box .coupon-block-item {
  display: flex;
  width: 100%;
  height: 100%;
}

.section-products .mini-content-center .coupon-block-wrap .coupon-block-box .coupon-block-item .coupon-block-icon {
  width: 18px;
  height: 18px;
}

.section-products .mini-content-center .coupon-block-wrap .coupon-block-box .coupon-block-item .coupon-block-content {
  display: block;
  padding: 0 8px;
  overflow: hidden;
}

.section-products .mini-content-center .coupon-block-wrap .coupon-block-box .coupon-block-item .coupon-block-content span {
  font-size: 14px;
  line-height: 18px;
  color: #FD384F;
}

.section-products .mini-content-center .title-wrap {
  display: block;
  margin-top: 16px;
}

.section-products .mini-content-center .title-wrap h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--neutral-5);
}

.section-products .mini-content-center .senior-projects-choice {
  display: block;
  height: 22px;
  width: 633px;
  margin-top: 16px;
}

.section-products .mini-content-center .senior-projects-choice .sp-badge-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section-products .mini-content-center .senior-projects-choice .sp-badge-wrapper .s-declarative {
  display: flex;
}

.section-products .mini-content-center .senior-projects-choice .sp-badge-wrapper .s-declarative .sp-badge-rectangle {
  display: flex;
  float: left;
  width: 152px;
  height: 22px;
  background-color: var(--neutral-5);
}

.section-products .mini-content-center .senior-projects-choice .sp-badge-wrapper .s-declarative .sp-badge-rectangle .sp-badge-text-primary {
  font-size: 12px;
  line-height: 22px;
  color: var(--white);
  margin-left: 8px;
  margin-right: 3px;
}

.section-products .mini-content-center .senior-projects-choice .sp-badge-wrapper .s-declarative .sp-badge-rectangle .sp-badge-text-secondary {
  font-size: 12px;
  line-height: 22px;
  color: #F69931;
  margin-right: 8px;
}

.section-products .mini-content-center .senior-projects-choice .sp-badge-wrapper .s-declarative .sp-badge-triangle {
  width: 10px;
  height: 22px;
  font-size: 14px;
  line-height: 20px;
  float: left;
  background-color: var(--neutral-5);
  border: solid var(--neutral-5);
  border-top-width: 20px;
  border-right-width: 10px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.section-products .mini-content-center .reviewer-wrap {
  display: block;
  margin-top: 16px;
}

.section-products .mini-content-center .reviewer-wrap .reviews {
  display: flex;
  height: 20px;
}

.section-products .mini-content-center .reviewer-wrap .reviews .reviewer-box {
  display: inline-block;
  margin-right: 8px;
}

.section-products .mini-content-center .reviewer-wrap .reviewer-box .material-symbols-rounded {
  font-size: 18px;
  font-variation-settings: 'FILL' 1;
  color: var(--neutral-5);
}

.section-products .mini-content-center .reviewer-wrap .reviews .rating-text {
  font-size: 14px;
  font-weight: 700;
}

.section-products .mini-content-center .reviewer-wrap .reviews .reviewer-reviews {
  display: inline-block;
  margin-left: 8px;
}

.section-products .mini-content-center .reviewer-wrap .reviews .reviewer-reviews span {
  font-size: 14px;
  color: var(--neutral-30);
}

.section-products .mini-content-center .line-divider {
  display: block;
  width: 100%;
  height: 1px;
  color: var(--neutral-30);
  margin: 16px 0;
}

.section-products .mini-content-center .color-picker-wrap {
  display: block;
  width: 100%;
  height: 108px;
  margin-top: 16px;
}

.section-products .mini-content-center .color-picker-wrap .products-items {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
}

.section-products .mini-content-center .color-picker-wrap .color-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  height: 28px;
  padding-bottom: 8px;
}

.section-products .mini-content-center .color-picker-wrap .color-name span {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: var(--neutral-5);
}

.section-products .mini-content-center .color-picker-wrap .items-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
}

.section-products .mini-content-center .color-picker-wrap .items-wrapper .items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: normal;
  width: 100%;
  height: 72px;
}

.section-products .mini-content-center .color-picker-wrap .items-wrapper .items .product-item-img {
  position: relative;
  display: block;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: 0 8px 8px 0;
  cursor: pointer;
}

.section-products .mini-content-center .color-picker-wrap .items-wrapper .items .product-item-img.selected {
  border: 2px solid var(--neutral-5);
}

.section-products .mini-content-center .color-picker-wrap .items-wrapper .items .product-item-img:hover {
  border: 2px solid var(--neutral-5);
}

.section-products .mini-content-center .color-picker-wrap .items-wrapper .items .product-item-img .color {
  position: absolute;
  max-width: 58px;
  width: 58px;
  height: 58px;
  top: 1px;
  left: 1px;
}

/* ========== About Product ========== */
.section-products .mini-content-center .about-item {
  display: block;
  width: 633px;
  height: 432px;
}

.section-products .mini-content-center .about-item .title-text-bold {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--neutral-5);
  padding-bottom: 4px;
}

.section-products .mini-content-center .about-item .unordered-about {
  display: block;
  width: 615px;
  height: 404px;
  margin: 0 0 4px 18px;
}

.section-products .mini-content-center .about-item .unordered-about .ordered-about {
  display: list-item;
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 4px;
  padding-left: 6px;
}

.section-products .mini-content-center .about-item .unordered-about .ordered-about::marker {
  content: "•";
  color: var(--neutral-5);
  font-size: 18px;
  text-align: start;
}

.section-products .mini-content-center .about-item .unordered-about .ordered-about .list-item {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: var(--neutral-5);
}

/* ========== Right Side ========== */
.section-products .mini-content-right {
  display: block;
  width: 398.7px;
  height: 616px;
}

.section-products .mini-content-right .action-container {
  display: block;
  width: 398.7px;
  height: auto;
  padding: 8px 0 31px 24px;
  z-index: 20;
}

.section-products .mini-content-right .action-container .action-wrap {
  display: block;
  max-height: 679px;
  width: 374.7px;
  height: auto;
  padding: 16px 16px 0 16px;
  border: 0.7px solid var(--neutral-90);
  overflow-x: hidden;
  overflow-y: auto;
}

.section-products .mini-content-right .action-container .store-detail-wrap {
  display: flex;
  justify-content: space-between;
  width: 324.7px;
  height: 18px;
  cursor: pointer;
}

.section-products .mini-content-right .action-container .store-detail-wrap .store-detail-title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding-right: 8px;
}

.section-products .mini-content-right .action-container .store-detail-wrap .store-name-wrap {
  display: flex;
}

.section-products .mini-content-right .action-container .store-detail-wrap .store-name-wrap span {
  font-size: 14px;
  line-height: 21px;
  color: var(--neutral-30);
}

.section-products .mini-content-right .action-container .line-divider {
  display: block;
  width: 100%;
  height: 1px;
  color: var(--neutral-30);
  margin: 16px 0;
}

.section-products .mini-content-right .action-container .delivery-wrap {
  display: flex;
  justify-content: space-between;
  width: 324.7px;
  height: 18px;
  margin-bottom: 16px;
}

.section-products .mini-content-right .action-container .delivery-wrap .delivery-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding-right: 8px;
}

.section-products .mini-content-right .action-container .delivery-wrap .delivery-address {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
}

.section-products .mini-content-right .action-container .delivery-wrap .delivery-address span {
  font-size: 14px;
}

.section-products .mini-content-right .action-container .delivery-wrap .delivery-address .deliver-to {
  padding-left: 2px;
}

.section-products .mini-content-right .action-container .choice-mind-wrap {
  position: relative;
  display: block;
  width: 324.7px;
  height: 44px;
}

.section-products .mini-content-right .action-container .choice-mind-wrap .choice-mind-mask {
  position: absolute;
  display: block;
  background: linear-gradient(180deg, rgb(254, 248, 202) 0%, rgb(242, 245, 230) 100%);
  width: 356.7px;
  height: 44px;
  top: 0;
  left: -16px;
}

.section-products .mini-content-right .action-container .choice-mind-wrap .choice-mind-box {
  position: absolute;
  display: flex;
  align-items: center;
  width: 324.7px;
  height: 44px;
  line-height: 21px;
  top: 0;
  left: 0;
}

.section-products .mini-content-right .action-container .choice-mind-wrap .choice-mind-box img {
  width: auto;
  height: 24px;
}

.section-products .mini-content-right .action-container .choice-mind-wrap .choice-mind-box span {
  font-size: 14px;
  font-weight: 700;
}

.section-products .mini-content-right .action-container .action-details {
  display: block;
  height: 124px;
  width: 324.7px;
}

.section-products .mini-content-right .action-container .total-price-plus-shipping {
  display: flex;
  width: 324.7px;
  height: 48px;
}

.section-products .mini-content-right .action-container .total-price-plus-shipping .truck-icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

.section-products .mini-content-right .action-container .total-price-plus-shipping .indicator {
  font-size: 18px;
  margin-top: 4px;
}

.section-products .mini-content-right .action-container .total-price-plus-shipping .price-shipping-details {
  display: block;
  width: 292.7px;
  height: 48px;
  padding: 0 4px;
  overflow: hidden;
}

.section-products .mini-content-right .action-container .dynamic-shipping {
  display: block;
  width: 284.7px;
  height: 48px;
  cursor: pointer;
}

.section-products .mini-content-right .action-container .dynamic-shipping .dynamic-shipping-line {
  display: block;
  padding: 2px 0;
}

.section-products .mini-content-right .action-container .dynamic-shipping .dynamic-shipping-line span {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.section-products .mini-content-right .action-container .dynamic-shipping .dynamic-delivery-line {
  display: block;
  padding-inline: 2px 0;
}

.section-products .mini-content-right .action-container .dynamic-shipping .dynamic-delivery-line span {
  font-size: 15px;
  line-height: 20px;
  color: var(--neutral-30);
}

.section-products .mini-content-right .action-container .dynamic-shipping .dynamic-delivery-line .days {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: var(--neutral-5);
}

.section-products .mini-content-right .action-container .security-privacy {
  display: flex;
  width: 324.7px;
  height: 64px;
  margin-top: 12px;
  cursor: pointer;
}

.section-products .mini-content-right .action-container .security-privacy .indicator {
  font-size: 18px;
  margin-top: 4px;
}

.section-products .mini-content-right .action-container .security-privacy .security-icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

.section-products .mini-content-right .action-container .security-privacy .security-privacy-wrapper {
  display: block;
  width: 292.7px;
  height: 64px;
  padding: 0 4px;
  overflow: hidden;
}

.section-products .mini-content-right .action-container .security-privacy .static-security-line {
  display: block;
  overflow: hidden;
}

.section-products .mini-content-right .action-container .security-privacy .static-security-line span {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.section-products .mini-content-right .action-container .security-privacy .static-content-line {
  display: flex;
  flex-wrap: wrap;
  width: 284.7px;
  height: 44px;
}

.section-products .mini-content-right .action-container .security-privacy .static-content-line .security-desc {
  display: flex;
  width: 280.7px;
  max-height: max-content;
  align-items: center;
  padding: 2px 4px;
  margin: 2px 4px 0 0;
  overflow: hidden;
}

.section-products .mini-content-right .action-container .security-privacy .static-content-line .security-desc .text {
  display: block;
  width: 272.7px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-50);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.section-products .mini-content-right .action-container .quantity {
  display: block;
  width: 324.7px;
  height: auto;
}

.section-products .mini-content-right .action-container .quantity .quantity-title {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.section-products .mini-content-right .action-container .quantity .quantity-input-number {
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
}

.section-products .mini-content-right .action-container .quantity .quantity-input-number .btn-decrease {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: var(--neutral-90);
  border-radius: var(--radius-circle);
  cursor: not-allowed;
}

.section-products .mini-content-right .action-container .quantity .quantity-input-number .btn-decrease span {
  font-size: 12px;
  color: var(--neutral-60);
}

.section-products .mini-content-right .action-container .quantity .quantity-input-number .input-number {
  display: block;
  width: 32px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border-radius: var(--radius-circle);
  color: var(--neutral-5);
  margin: 0 4px 0 4px;
}

.section-products .mini-content-right .action-container .quantity .quantity-input-number .btn-increase {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: var(--neutral-90);
  border-radius: var(--radius-circle);
  cursor: not-allowed;
}

.section-products .mini-content-right .action-container .quantity .quantity-input-number .btn-increase span {
  font-size: 12px;
  color: var(--neutral-60);
}

.section-products .mini-content-right .action-container .quantity .quantity-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}

.section-products .mini-content-right .action-container .quantity .quantity-info .container {
  display: block;
}

.section-products .mini-content-right .action-container .quantity .quantity-info .container span {
  font-size: 14px;
  color: var(--neutral-5);
}

.section-products .mini-content-right .action-container .action-buttons {
  position: sticky;
  display: block;
  width: auto;
  height: auto;
  padding-bottom: 16px;
  bottom: 0;
}

.section-products .mini-content-right .action-container .action-buttons .buy-now {
  position: relative;
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  min-width: 80px;
  width: 324.7px;
  height: 44px;
  background-color: rgb(208, 51, 72);
  padding: 10px 12px;
  margin-top: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-products .mini-content-right .action-container .action-buttons .buy-now:hover {
  background-color: rgb(218, 67, 87);
}

.section-products .mini-content-right .action-container .action-buttons .buy-now span {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.section-products .mini-content-right .action-container .action-buttons .add-to-cart {
  position: relative;
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  border: 1.3px solid var(--neutral-5);
  min-width: 80px;
  width: 324.7px;
  height: 44px;
  padding: 10px 12px;
  margin-top: 12px;
  cursor: pointer;
}

.section-products .mini-content-right .action-container .action-buttons .add-to-cart span {
  font-size: 16px;
  font-weight: 700;
  color: var(--neutral-5);
}

.section-products .mini-content-right .action-container .action-buttons .share-and-wish-wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  row-gap: 12px;
  width: auto;
  height: auto;
  margin-top: 12px;
}

.section-products .mini-content-right .action-container .action-buttons .share-and-wish-wrap .share {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 44px;
  width: 158.4px;
  height: 44px;
  background-color: var(--neutral-90);
  padding: 0 8px;
  line-height: 44px;
  cursor: pointer;
}

.section-products .mini-content-right .action-container .action-buttons .share-and-wish-wrap .share-icon {
  font-size: 20px;
  line-height: 0;
  text-align: center;
  vertical-align: middle;
}

.section-products .mini-content-right .action-container .action-buttons .share-and-wish-wrap .view-details .share-and-wish-text {
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: var(--neutral-30);
}

.section-products .mini-content-right .action-container .action-buttons .share-and-wish-wrap .add-to-wish-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 44px;
  width: 158.4px;
  height: 44px;
  background-color: var(--neutral-90);
  padding: 0 8px;
  line-height: 44px;
  cursor: pointer;
}

.section-products .mini-content-right .action-container .action-buttons .share-and-wish-wrap .add-to-wish-list .favorite {
  font-size: 20px;
  line-height: 0;
  text-align: center;
  vertical-align: middle;
}

.section-products .mini-content-right .action-container .action-buttons .share-and-wish-wrap .add-to-wish-list .add-to-wish-list-text {
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: var(--neutral-30);
}

/* ========================================== *\
  # Product Description Page Styling End.
\* ========================================== */

/* ========================================== *\
  # Footer Styling Start.
\* ========================================== */
.footer {
  display: block;
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 30px 0;
  border-top-left-radius: 125px;
  font-size: 16px;
  line-height: 24px;
}

.footer hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.footer-top .container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-top .container .footer-brand {
  flex-basis: 25%;
  padding: 10px;
  margin-bottom: 30px;
}

.footer-top .container .footer-text {
  margin-top: 30px;
}

.footer-top .container .footer-nav {
  flex-basis: 25%;
  padding: 10px;
}

.footer-top .container .footer-nav:nth-child(2),
.footer-top .container .footer-nav:nth-child(3) {
  flex-basis: 15%;
}

.footer-top .container .footer-nav .footer-list-title {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer-top .container .footer-nav .footer-list li {
  margin-bottom: 12px;
}

.footer-top .container .footer-nav .footer-list li a,
.footer-top .container .footer-nav .address-list li a {
  font-weight: 300;
  color: #bbb;
  transition: all 0.2s ease;
}

.footer-top .container .footer-nav .footer-list li a:hover,
.footer-top .container .footer-nav .address-list li a:hover {
  font-weight: 600;
  color: #fff;
  padding-left: 5px;
}

.footer-top .container .footer-nav form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.footer-top .container .footer-nav form .footer-en {
  font-size: 18px;
  margin-right: 10px;
}

.footer-top .container .footer-nav form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.footer-top .container .footer-nav form button {
  background: transparent;
  border: 0;
  outline: none;
}

.footer-top .container .footer-nav form button .fa-arrow-right {
  font-size: 16px;
  color: #ccc;
}

.footer-top .container .footer-nav .address-list {
  margin-bottom: 25px;
}

.footer-top .container .footer-nav .social-list .footer-socials {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #FFFFFF;
  margin-right: 15px;
  transition: all 0.5s ease;
}

.footer-top .container .footer-nav .social-list .footer-socials:hover {
  color: #24262b;
  background-color: #fff;
}

.footer-top .container .footer-nav .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.footer-top .container .footer-nav .underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 4s linear infinite;
}

/* ========== Middle Footer ========== */
.footer .footer-middle {
  display: block;
  margin: 10px 345px;
}

.footer .footer-middle .footer-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer .footer-middle .footer-nav .icp-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  width: auto;
  height: 33px;
  padding: 6px 18px 6px 8px;
  margin-right: 4px;
  border: 1px solid var(--white);
  border-radius: 3px;
}

.footer .footer-middle .footer-nav .icp-button .icp-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.footer .footer-middle .footer-nav .icp-button .dropdown-icon {
  margin-left: 8px;
  font-size: 10px;
}

/* ========== Bottom Footer ========== */
.footer .footer-bottom .container {
  width: 85%;
  margin-left: 200px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-bottom .container .footer-nav {
  flex-basis: 25%;
  padding: 10px;
}

.footer-bottom .container .footer-nav:nth-child(2),
.footer-bottom .container .footer-nav:nth-child(3) {
  flex-basis: 25%;
}

.footer-bottom .container .footer-nav .footer-list-title {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer-bottom .container .footer-nav .footer-list li {
  margin-bottom: 12px;
}

.footer-bottom .container .footer-nav .footer-list li a,
.footer-bottom .container .footer-nav .address-list li a {
  font-weight: 300;
  color: #bbb;
  transition: all 0.2s ease;
}

.footer-bottom .container .footer-nav .footer-list li a:hover,
.footer-bottom .container .footer-nav .address-list li a:hover {
  font-weight: 600;
  color: #fff;
  padding-left: 5px;
}

.footer-bottom .container .footer-nav .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.footer-bottom .container .footer-nav .underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 4s linear infinite;
}

.footer .footer-bottom .links {
  max-width: 100%;
  width: 50%;
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.footer .footer-bottom .links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  gap: 15px;
}

.footer .footer-bottom .links ul img {
  vertical-align: middle;
  width: 29px;
  height: 14px;
}

.footer .footer-bottom .links ul li {
  display: block;
  text-align: center;
}

.footer .footer-bottom .links ul li:hover {
  text-decoration: underline;
}

.footer .footer-bottom .copyright {
  text-align: center;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
/* ========================================== *\
  # Footer Styling End.
\* ========================================== */