<footer class="footer">

  <div class="footer-top">
    <div class="container">

      <div class="footer-brand">
        <a href="#" class="logo">
          <img src="/Assets/Images/SP-removebg-preview.png" width="100" alt="Senior Project">
        </a>

        <p class="footer-text">
          Lorem ipsum dolor sit amet consectetur. Non bibendum sit non congue pharetra pulvinar leo.
          Sed ut amet ipsum.
        </p>
      </div>

      <nav class="footer-nav" aria-labelledby="nav-lebel-1">
        <h3 class="footer-list-title">Support<div class="underline"><span></span></div></h3>

        <ul class="footer-list">

          <li>
            <a href="#" class="footer-link">Shipping</a>
          </li>

          <li>
            <a href="#" class="footer-link">Return Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Order Status</a>
          </li>

          <li>
            <a href="#" class="footer-link">Payment Options</a>
          </li>

        </ul>

      </nav>

      <nav class="footer-nav" aria-labelledby="nav-label-2">
        <h3 class="footer-list-title">Links<div class="underline"><span></span></div></h3>

        <ul class="footer-list">

          <li>
            <a href="#" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & Conditions</a>
          </li>

        </ul>

      </nav>

      <nav class="footer-nav" aria-labelledby="nav-label-3">
        <h3 class="footer-list-title">Get in touch<div class="underline"><span></span></div></h3>

        <form>

          <i class="fa-regular fa-envelope footer-en"></i>

          <input type="email" placeholder="youremail@gmail.com" required>

          <button type="submit">
            <i class="fa-solid fa-arrow-right"></i>
          </button>

        </form>

        <ul class="address-list">

          <li>
            <a href="#" class="address-link">hello@seniorproject.com</a>
          </li>

          <li>
            <address class="address">
              1234 Main St, Anytown, ETH
            </address>
          </li>

        </ul>

        <div class="social-list">

          <a href="#" class="social-link">
            <i class="fa-brands fa-facebook-f footer-socials"></i>
          </a>

          <a href="#" class="social-link">
            <i class="fa-brands fa-instagram footer-socials"></i>
          </a>

          <a href="#" class="social-link">
            <i class="fa-brands fa-tiktok footer-socials"></i>
          </a>

          <a href="#" class="social-link">
            <i class="fa-brands fa-x-twitter footer-socials"></i>
          </a>

        </div>

      </nav>

    </div>
  </div>
  <hr>

  <div class="footer-middle">
    <div class="footer-nav">

      <a href="#" aria-label="Choose a language" aria-expanded="false" class="icp-button">
        <span class="icp-icon">
          <i class="fa-solid fa-globe"></i>
        </span>
        <span class="icp-text">English</span>
        <span class="dropdown-icon">
          <i class="fa-solid fa-caret-down"></i>
        </span>
      </a>

      <a href="#" aria-label="Choose a currency" aria-expanded="false" class="icp-button">
        <span class="icp-icon">
          <span>$</span>
        </span>
        <span class="icp-text">USD - U.S. Dollar</span>
      </a>

      <a href="#" aria-label="Choose a region" aria-expanded="false" class="icp-button">
        <span class="icp-icon">
          <img src="Assets/Images/Flags/001-united-states.png" alt="United States Flag">
        </span>
        <span class="icp-text">United States</span>
      </a>

    </div>
  </div>
  <hr>

  <div class="footer-bottom">

    <div class="container">

      <nav class="footer-nav" aria-labelledby="nav-lebel-1">
        <h3 class="footer-list-title">Get to Know Us<div class="underline"><span></span></div></h3>

        <ul class="footer-list">

          <li>
            <a href="#" class="footer-link">Careers</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Investor Relations</a>
          </li>

          <li>
            <a href="#" class="footer-link">Senior Project Devices</a>
          </li>

          <li>
            <a href="#" class="footer-link">Senior Project Science</a>
          </li>

        </ul>

      </nav>

      <nav class="footer-nav" aria-labelledby="nav-label-2">
        <h3 class="footer-list-title">Make Money with Us<div class="underline"><span></span></div></h3>

        <ul class="footer-list">

          <li>
            <a href="#" class="footer-link">Sell Products on Senior Project</a>
          </li>

          <li>
            <a href="#" class="footer-link">Sell on Senior Projects</a>
          </li>

          <li>
            <a href="#" class="footer-link">Sell apps on Senior Project</a>
          </li>

          <li>
            <a href="#" class="footer-link">Become an Affiliate</a>
          </li>

          <li>
            <a href="#" class="footer-link">Advertise Your Products</a>
          </li>

          <li>
            <a href="#" class="footer-link">Self-Publish with Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Host an SP Hub</a>
          </li>

          <li>
            <a href="#" class="footer-link">See More 'Make Money with Us'</a>
          </li>

        </ul>

      </nav>

      <nav class="footer-nav" aria-labelledby="nav-lebel-3">
        <h3 class="footer-list-title">Senior Project Payment Products<div class="underline"><span></span></div></h3>

        <ul class="footer-list">

          <li>
            <a href="#" class="footer-link">SP Business Card</a>
          </li>

          <li>
            <a href="#" class="footer-link">Shop with Points</a>
          </li>

          <li>
            <a href="#" class="footer-link">Reload Your Balance</a>
          </li>

          <li>
            <a href="#" class="footer-link">Sp Currency Converter</a>
          </li>

        </ul>

      </nav>

      <nav class="footer-nav" aria-labelledby="nav-label-4">
        <h3 class="footer-list-title">Let Us Help You<div class="underline"><span></span></div></h3>

        <ul class="footer-list">

          <li>
            <a href="#" class="footer-link">SP and Covid-19</a>
          </li>

          <li>
            <a href="#" class="footer-link">Your Account</a>
          </li>

          <li>
            <a href="#" class="footer-link">Your Orders</a>
          </li>

          <li>
            <a href="#" class="footer-link">Shipping Rates & Policies</a>
          </li>

          <li>
            <a href="#" class="footer-link">Returns & Replacements</a>
          </li>

          <li>
            <a href="#" class="footer-link">Manage Your Content and Devices</a>
          </li>

          <li>
            <a href="#" class="footer-link">Help</a>
          </li>

        </ul>

      </nav>

    </div>
    <hr>

    <div class="links">
      <ul>

        <li class="nav-first">
          <a href="#">Conditions of Use</a>
        </li>

        <li>
          <a href="#">Privacy Notice</a>
        </li>

        <li>
          <a href="#">Consumer Health Data Privacy Disclosure</a>
        </li>

        <li>
          <a href="#">Your Ads Privacy Choices</a>
        </li>

        <li class="nav-last">
          <img src="/Assets/Images/Icons/Privacy-Options.jpeg" alt="Privacy Options Icon">
        </li>

      </ul>
    </div>

    <p class="copyright">
      Senior Project &copy; 2025 - All rights reserved.
    </p>

  </div>

</footer>