
/* ========================================== *\
  # CSS Variables Section Start.
\* ========================================== */
:root {
  --header-height: 10rem;

  /* ========== Colors One ========== */
  --white: #FFFFFF;
  --yellow: #F6BD26;
  --primary-100: #2179FF;
  --primary-90: #1E6DE5;
  --primary-80: #1B61CC;
  --primary-70: #1755B2;
  --primary-40: #0D3166;
  --primary-20: #071833;
  --secondary-100: #21FFFF;
  --secondary-20: #073333;
  --neutral-100: #FAFCFF;
  --neutral-98: #F2F5FA;
  --neutral-95: #E9ECF2;
  --neutral-90: #DADFE5;
  --neutral-80: #C2C6CC;
  --neutral-60: #919499;
  --neutral-50: #797C80;
  --neutral-40: #616366;
  --neutral-30: #494A4D;
  --neutral-20: #303133;
  --neutral-10: #18191A;
  --neutral-5: #0C0C0D;
  --error-100: #FF2134;

  /* ========== Colors Two ========== */
  /* HSL(hue, saturation, lightness) */
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #FFF;
  --container-color: #FFF;

  /* Gradient */
  --gradient: linear-gradient(270deg, #0F4392 0%, #001D3D 100%);

  /* ========== Font and typography ========== */
  /* Font Family */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Font Size */
  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;

  /* ========== Letter Spacing ========== */
  --tracking-n-025: -0.25px;
  --tracking-p-05: 0.5px;

  /* ========== z-index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* ========== Line Height ========== */
  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;

  /* ========== Radius ========== */
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;

  /* ========== Shadow ========== */
  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001A;

  /* ========== Transition ========== */
  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;
}
/* ========================================== *\
  # CSS Variables Section End.
\* ========================================== */

/* ========================================== *\
  # Base Styling Start.
\* ========================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-98);
  color: var(--neutral-5);
  line-height: var(--lh-body-medium);
}

body.no-scroll {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input, button, select {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input, select {
  width: 100%;
  outline: none;
}

address {
  font-style: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-90);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-60);
  border-radius: 4px;
}
/* ========================================== *\
  # Base Styling End.
\* ========================================== */

/* ========================================== *\
  # Typography Styling Start.
\* ========================================== */



/* ========================================== *\
  # Typography Styling End.
\* ========================================== */

/* ========================================== *\
  #  Reused Styles Start.
\* ========================================== */



/* ========================================== *\
  #  Reused Styles End.
\* ========================================== */

/* ========================================== *\
  # Component Styling Start.
\* ========================================== */



/* ========================================== *\
  # Component Styling End.
\* ========================================== */

/* ========================================== *\
  # Header Styling Start.
\* ========================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 200;
  transition: transform 0.5s ease; /* May cause conflict for the header animation because there is a container inside the header. */
}

.header.hidden {
  transform: translateY(-100%);
}

.header.scrolled {
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.header .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 15px 100px;
  background-color: transparent;
}

/* ========== Top Header Styling. ========== */
.header .top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.header .top-header .search-box {
  position: relative;
  height: 40px;
  width: 600px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 0 0 0 20px;
}

.header .top-header .search-box input {
  width: 84%;
  font-size: 15px;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 10px;
}

.header .top-header .search-box .image-search-wrapper {
  position: relative;
}

.header .top-header .search-box .image-search-wrapper::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 10px;
  width: 24px;
  height: 20px;
  pointer-events: auto;
}

.header .top-header .search-box .image-search-wrapper .image-search-icon {
  cursor: pointer;
  font-size: 24px;
  margin: 8px 10px 0 0;
  position: relative;
}

.header .top-header .search-box .image-search-wrapper .image-search-box {
  display: none;
  position: absolute;
  top: 45px;
  right: -175px;
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  pointer-events: auto;
}

.header .top-header .search-box .image-search-wrapper:hover .image-search-box {
  display: block;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-search-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-search-description {
  font-size: 14px;
  margin-bottom: 20px;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #fafafa;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-drop-icon {
  font-size: 48px;
  color: #bbb;
  margin-bottom: 10px;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-drop-text {
  font-size: 14px;
  font-weight: bold;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-drop-option {
  font-size: 16px;
  color: #707070;
  margin: 5px 0;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-drop-zone .image-upload-button {
  background: #D3031C;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.header .top-header .search-box .image-search-wrapper .image-search-box .image-search-note {
  font-size: 14px;
}

.header .top-header .search-box .search-icon {
  background: #000;
  border-radius: 35px;
  color: #fff;
  width: 60px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .top-header .shopping-cart {
  color: #fff;
}

.header.scrolled .top-header .shopping-cart {
  color: #000;
}

/* ========== Login Button Styling. ========== */
.header .top-header .login-button {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: transparent;
  color: ghostwhite;
  overflow: hidden;
}

.header.scrolled .top-header .login-button {
  color: #000;
}

.header .top-header .login-button span {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.6em 1em 0.6em 1.2em;
}

.header .top-header .login-button::before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 100%;
  width: 0;
  top: 0;
  left: -10%;
  transform: skew(30deg);
  transition: width 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.header .top-header .login-button:hover::before {
  width: 120%;
}

.header .top-header .login-button:active {
  transform: scale(0.95);
}

/* ========== Sign Up Button Styling. ========== */
.header .top-header .sign-up-button {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: transparent;
  color: ghostwhite;
  overflow: hidden;
}

.header.scrolled .top-header .sign-up-button {
  color: #000;
}

.header .top-header .sign-up-button span {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.6em 1em 0.6em 1.2em;
}

.header .top-header .sign-up-button::before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 100%;
  width: 0;
  top: 0;
  left: -10%;
  transform: skew(30deg);
  transition: width 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.header .top-header .sign-up-button:hover::before {
  width: 120%;
}

.header .top-header .sign-up-button:active {
  transform: scale(0.95);
}

/* ========== Logged In Header Styling. ========== */
.header .top-header .top-item {
  display: flex;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
  width: auto;
  height: auto;
}

.header .top-header .top-item .top-icons {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
}

.header .top-header .top-item .icon {
  font-size: 26px;
  color: #fff;
}

.header.scrolled .top-header .top-item .icon {
  color: #000;
}

.header .top-header .profile-picture .user-picture {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header .top-header .profile-picture .sub-menu-wrap {
  position: absolute;
  top: 60%;
  right: -5%;
  width: 270px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  z-index: 50;
}

.header .top-header .profile-picture .sub-menu-wrap.drop-menu {
  max-height: 400px;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .sub-menu-divider {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .user-info {
  display: flex;
  align-items: center;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .user-info .user-name {
  font-size: 20px;
  font-weight: 500;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .user-info .profile-picture {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .sub-menu-link {
  display: flex;
  align-items: center;
  color: #525252;
  margin: 12px 0;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .sub-menu-link p {
  width: 100%;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .sub-menu-link:hover p {
  font-weight: 600;
}

.header .top-header .profile-picture .sub-menu-wrap .sub-menu .sub-menu-link.logout {
  cursor: pointer;
}

/* ========== Second Header (navigation) Styling. ========== */
.header .navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.header .navigation .navigation-items {
  display: flex;
  gap: 20px;
}

.header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

.header.scrolled .navigation .navigation-items a {
  color: #000;
}

.header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.header.scrolled .navigation .navigation-items a::before {
  background: #000;
}

.header .navigation .navigation-items a:hover:before {
  width: 100%;
}

/* ========== Sidebar Menu Styling. ========== */
.sidebar-icon {
  position: relative;
  left: -16vw;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.header.scrolled .sidebar-icon {
  color: #000;
}

#closeIcon {
  color: #fff;
  display: none;
  position: fixed;
  top: 2vh;
  left: 22vw;
  font-size: 32px;
  font-weight: 600;
  transition: all .5s ease;
  z-index: 50;
  cursor: pointer;
}

#closeIcon.visible {
  display: block;
}

.header .container .navigation .sidebar-menu-categories {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 365px;
  background-color: var(--white);
  transform: translateX(-100%);
  transition: all .5s ease;
  z-index: 50;
  overflow-y: auto;
  overflow-x: hidden;
}

.header .container .navigation .sidebar-menu-categories.active {
  transform: translateX(0);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items.move-left {
  transform: translateX(-100%);
}

.header .container .navigation .sidebar-menu-categories .sidebar-title {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--text-color-light);
  color: var(--neutral-5);
  transition: all .5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-title:hover {
  color: var(--first-color-light);
}

.header .container .navigation .sidebar-menu-categories .sidebar-title a {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.6em 1em 0.6em 4.5em;
  gap: 10px;
}

.header .container .navigation .sidebar-menu-categories .sidebar-title a span {
  font-size: 2.5rem;
  text-align: center;
}

.header .container .navigation .sidebar-menu-categories .sidebar-title a h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items h4 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 3em;
  margin: 0;
  padding-top: 1em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .submenu h4 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 2.7em;
  margin: 0;
  padding-top: 1em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .hmenu-items,
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .submenu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 0 3em;
  transition: all 0.5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .hmenu-items:hover,
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .submenu ul li:hover {
  color: var(--first-color-light);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .material-symbols-outlined {
  cursor: pointer;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items hr {
  margin-top: 1em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-help-menu .icon {
  vertical-align: bottom;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .last-line {
  margin-top: 2em;
}

/* ========== Expanded Submenu Styling ========== */
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu.active {
  transform: translateX(0);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu .submenu-back-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10.5em 0 3em;
  transition: all .5s ease;
  cursor: pointer;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .expand-right-menu .submenu .submenu-back-button:hover {
  color: var(--first-color-light);
}

/* ========== Dropdown Submenu Styling ========== */
.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .hmenu-items {
  padding-right: 13.5em;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .hmenu-items.active {
  color: var(--first-color-light);
  background-color: var(--neutral-80);
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .hmenu-items.active .material-symbols-outlined {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .submenu {
  display: none;
}

.header .container .navigation .sidebar-menu-categories .sidebar-menu-items .sidebar-list .dropdown-list .submenu.active {
  display: block;
}

/* ========== Overlay Filter Styling ========== */
.header .container .navigation #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  display: none;
}

.header .container .navigation #overlay.active {
  display: block;
  opacity: 1;
}

/* ========================================== *\
  # Header Styling End.
\* ========================================== */