@model dynamic

@{
  Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
  ViewData["Title"] = "Product"; /* Figure out how to dynamically display the name of the product selected as the title of the page */
}

<main>
  <article>

    <section class="section-products description-page">
      <div class="product-description wrapper">

        <div class="quick-links">

          <div class="go-back">
            <div class="back-to link">
              <a href="#" class="back-link">
                <span class="material-symbols-outlined">chevron_left</span>
                <span class="back-text">Go back</span>
              </a>
            </div>
          </div>

          <div class="share-product" title="Share">
            <span class="material-symbols-outlined">ios_share</span>
          </div>

        </div>

        <div class="container">

          <div class="product-content-wrap">

            <div class="mini-content-left">

              <div class="main-image-wrap">
                <div class="image-view-wrap">

                  <div class="slider-wrap">
                    <div class="slider">
                      <div class="slider-items-container">

                        <div class="slider-item">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                        <div class="slider-item space">
                          <div class="slider-item-image">
                            <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image Variety">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="image-view-preview-wrap">
                    <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Product Image" class="magnifier-image magnifier-zoom">
                  </div>

                </div>
              </div>

              <div class="user-directions">

                <div class="image-canvas-caption">
                  <span class="image-zoom-effect-text">
                    Roll over image to zoom in
                  </span>
                </div>

                <div class="products-users-links">
                  <ul class="unordered-items-list">

                    <li class="virtual-showroom-button">
                      <a href="#" class="virtual-room" target="_self">
                        <span class="list-item">
                          <span class="material-symbols-outlined vir-environment">simulation</span>
                          <span class="text">VIEW IN VIRTUAL SHOWROOM</span>
                        </span>
                      </a>
                    </li>

                  </ul>
                </div>

              </div>
              <hr class="image-table-divider">

              <div class="expander-table-wrapper">
                <div class="table-content">

                  <table class="po-table">

                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="sp-spacing-small po-brand">
                        <td class="row-title">
                          <span class="sp-base text-bold">Brand</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">Google</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-connectivity-technology">
                        <td class="row-title">
                          <span class="sp-base text-bold">Connectivity Technology</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">Wireless</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-connector-type">
                        <td class="row-title">
                          <span class="sp-base text-bold">Connector Type</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">USB Type C</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-compatible-devices">
                        <td class="row-title">
                          <span class="sp-base text-bold">Compatible Devices</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">Cellular Phones</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-compatible-phone-models">
                        <td class="row-title">
                          <span class="sp-base text-bold">Compatible Phone Models</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">iPhone, Samsung, Google Pixel, LG, HUAWEI</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-included-components">
                        <td class="row-title">
                          <span class="sp-base text-bold">Included Components</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">Welcome Guide, USB C Cable, Wireless Charging Stand</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-special-feature">
                        <td class="row-title">
                          <span class="sp-base text-bold">Special Feature</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">Wireless Charger, Fast</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-color">
                        <td class="row-title">
                          <span class="sp-base text-bold">Color</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">Black</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-input-voltage">
                        <td class="row-title">
                          <span class="sp-base text-bold">Input Voltage</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">5 Volts</span>
                        </td>
                      </tr>

                      <tr class="sp-spacing-small po-mounting-type">
                        <td class="row-title">
                          <span class="sp-base text-bold">Mounting Type</span>
                        </td>
                        <td class="row-content">
                          <span class="sp-base text-regular">Tabletop Mount</span>
                        </td>
                      </tr>

                    </tbody>

                  </table>

                </div>
              </div>

            </div>

            <div class="mini-content-center">

              <div class="big-sale-banner">

                <div class="banner-background">
                  <div class="banner-big-sale-content">

                    <div class="banner-text">
                      <img src="Assets/Images/Icons/White-Thunder-Bolt.png" alt="Discount Arrow" width="10" height="14">
                      <strong>
                        <span> Save ETB2,040.7 </span>
                      </strong>
                    </div>

                  </div>
                  <img src="Assets/Images/Icons/Black-Friday-Banner-Text.png" alt="Black Friday Sale" class="black-friday-slogan">
                </div>

                <div class="big-sale countdownwrap">
                  <div class="countdown">
                    <span class="before-text">Ends :</span>
                    <div class="timer">Dec 4, 10:59 (GMT+3)</div>
                  </div>
                </div>

              </div>

              <div class="price-wrap">

                <div class="price-current">
                  <span class="current-price-text">ETB680.24</span>
                </div>

                <div class="price-original">
                  <span class="price-originaltext">ETB2,720.94</span>
                  <span class="price-discount">75% off</span>
                </div>

              </div>

              <div class="vat-installment-wrap">
                <span class="vat-installment-item">Tax excluded, add at checkout if applicable.</span>
                <span class="vat-installment-item"> | </span>
                <span class="vat-installment-item">Extra 20% off with coins</span>
              </div>

              <div class="coupon-block-wrap">
                <div class="coupon-block-box">
                  <div class="coupon-block-item">
                    <img src="Assets/Images/Icons/Price-Tag.png" alt="Price Tag Image" class="coupon-block-icon">
                    <div class="coupon-block-content">
                      <span>ETB417.32 off orders over ETB2,643.03</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="title-wrap">
                <h1>
                  Multifunction Wireless Charging LED, Stand Pad RGB Light Alarm Clock
                  Digital Clock Radio Speaker For iPhone 16 15 14 13 Pro XS 8 Plus
                  Samsung Galaxy S23 S22 S21 Note 20 Google Xiaomi etc. Mini Fast
                  Charging Dock Station
                </h1>
              </div>

              <div class="reviewer-wrap">

                <div class="reviews">

                  <div class="reviewer-box">
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star_half</span>
                  </div>
                  <span class="title-small rating-text">4.7</span>

                  <div class="reviewer-reviews">
                    <span> 53 Reviews | 800 sold </span>
                  </div>

                </div>

              </div>

              <div class="senior-projects-choice">
                <div class="sp-badge-wrapper">

                  <span class="s-declarative">
                    <span class="sp-badge-rectangle">
                      <span class="sp-badge-text-primary sp-white">Senior Project's</span>
                      <span class="sp-badge-text-secondary sp-orange">Choice</span>
                    </span>
                    <span class="sp-badge-triangle"></span>
                  </span>

                </div>
              </div>
              <hr class="line-divider">

              <div class="color-picker-wrap">
                <div class="products-items">

                  <div class="color-name">
                    <span>Color: Black</span>
                  </div>

                  <div class="items-wrapper">
                    <div class="items">

                      <div class="product-item-img selected">
                        <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="White" class="color">
                      </div>
                      <div class="product-item-img">
                        <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Blue" class="color">
                      </div>
                      <div class="product-item-img">
                        <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Pink" class="color">
                      </div>
                      <div class="product-item-img">
                        <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Purple" class="color">
                      </div>
                      <div class="product-item-img">
                        <img src="Assets/Images/Products/Alarm-Clock-Digital-Clock-Radio-Wireless-Charging-LED.jpeg" alt="Red" class="color">
                      </div>

                    </div>
                  </div>

                </div>
              </div>
              <hr class="line-divider">

              <div class="about-item">
                <h1 class="title-text-bold">About this item</h1>

                <ul class="unordered-about">

                  <li class="ordered-about">
                    <span class="list-item">
                      From Google--the SAFE Fast Charge Pro: Experience the safest
                      charging with over 38 million global users. At Google, we use
                      only the highest-grade materials, so we do have the confidence
                      to provide an industry-leading 3-Year iNiu Care.
                    </span>
                  </li>

                  <li class="ordered-about">
                    <span class="list-item">
                      Save Up to 45 mins via Next-Gen 15W: Embrace Google 15W speed-boosting
                      charging with our all-new AirFuel tech - incredibly knocks off at
                      least 45 minutes of your waiting time.
                    </span>
                  </li>

                  <li class="ordered-about">
                    <span class="list-item">
                      No More Annoying Lights: Features the first-seen self-adaptive LED
                      indicator to bright in the day and dim in the dark. So you'll stay
                      in the know yet without undesirable lights to disturb your sleep.
                    </span>
                  </li>

                  <li class="ordered-about">
                    <span class="list-item">
                      4 Upgraded Charging Modes: A high-efficiency chip provides 15W fast
                      charge for LG, 10W fast charge for Samsung Galaxy, 7.5W fast charge
                      for iPhone, and 5W standard charge for any other devices.
                    </span>
                  </li>

                  <li class="ordered-about">
                    <span class="list-item">
                      Exclusive NTC Temp°Guard Battery Protection: It controls temp in
                      real-time smartly and silently via the exceptional cutting-edge NTC
                      Temp°Guard, to protect your phone battery against overheating and damage.
                    </span>
                  </li>

                  <li class="ordered-about">
                    <span class="list-item">
                      Certified Super-Conductor Dual Coils, Wider Charging Area: The Dual Super
                      Conductivity coils let you watch videos in landscape orientation, or stand
                      in portrait mode for FaceTime call and facial recognition—all without ever
                      cutting power.
                    </span>
                  </li>

                  <li class="ordered-about">
                    <span class="list-item">
                      What You Get: Google wireless charging station*1, USB C cable*1, welcome
                      guide*1, industry-leading 3-Year iNiu Care, plus lifetime technical support.
                      No need to remove phone cases(?4mm).
                    </span>
                  </li>

                </ul>
              </div>

            </div>

            <div class="mini-content-right">
              <div class="action-container">

                <div class="action-wrap">

                  <div class="store-detail-wrap">
                    <div class="store-detail-title">Sold by</div>
                    <div class="store-name-wrap">
                      <span>WDWG Store(Trader)</span>
                      <span class="material-symbols-outlined indicator">chevron_right</span>
                    </div>
                  </div>
                  <hr class="line-divider">

                  <div class="delivery-wrap">
                    <div class="delivery-title">
                      <span>Ship to</span>
                    </div>

                    <div class="delivery-address">
                      <span class="material-symbols-outlined">location_on</span>
                      <span class="deliver-to">Ethiopia</span>
                    </div>
                  </div>

                  <div class="choice-mind-wrap">
                    <div class="choice-mind-mask"></div>
                    <div class="choice-mind-box">
                      <img src="Assets/Images/Icons/Choice.png" alt="">
                      &nbsp;&nbsp;
                      <span>SeniorProject Commitment</span>
                    </div>
                  </div>

                  <div class="action-details">

                    <div class="total-price-plus-shipping">
                      <img src="Assets/Images/Icons/Shipping-Truck.png" alt="Truck Icon" class="truck-icon">

                      <div class="price-shipping-details">
                        <div class="dynamic-shipping">

                          <div class="dynamic-shipping-line dynamic-shipping-titleLayout">
                            <span>Shipping: ETB2,874.85</span>
                          </div>

                          <div class="dynamic-delivery-line dynamic-shipping-contentLayout">
                            <span>Delivery:</span>
                            &nbsp;
                            <span class="days">20-45 days</span>
                          </div>

                        </div>
                      </div>

                      <span class="material-symbols-outlined indicator">chevron_right</span>
                    </div>

                    <div class="security-privacy">

                      <img src="Assets/Images/Icons/Security.png" alt="Security Icon" class="security-icon">

                      <div class="security-privacy-wrapper">

                        <div class="static-security-line static-security-titleLayout">
                          <span>Security & Privacy</span>
                        </div>

                        <div class="static-content-line static-security-contentLayout">

                          <div class="security-desc">
                            <div class="text">
                              Safe payments: We do not share your personal details with any third parties without your consent.
                            </div>
                          </div>

                          <div class="security-desc">
                            <div class="text">
                              Secure personal details: We protect your privacy and keep your personal details safe and secure.
                            </div>
                          </div>

                        </div>

                      </div>

                      <span class="material-symbols-outlined indicator">chevron_right</span>

                    </div>

                  </div>
                  <hr class="line-divider">

                  <div class="quantity">

                    <div class="quantity-title">Quantity</div>

                    <div class="quantity-input-number">

                      <div class="btn-decrease">
                        <span class="material-symbols-outlined">remove</span>
                      </div>

                      <input type="text" class="input-number" value="1" title="Quantity">

                      <div class="btn-increase">
                        <span class="material-symbols-outlined">add</span>
                      </div>

                    </div>

                    <div class="quantity-info">
                      <div class="container">
                        <span>Max. 1 pcs/shopper</span>
                      </div>
                    </div>

                  </div>

                  <div class="action-buttons">

                    <button type="button" class="buy-now">
                      <span>Buy now</span>
                    </button>

                    <button type="button" class="add-to-cart">
                      <span>Add to cart</span>
                    </button>

                    <div class="share-and-wish-wrap">

                      <div class="share">
                        <span class="material-symbols-outlined share-icon">share</span>
                        &nbsp;
                        <span class="share-and-wish-text">Share</span>
                      </div>

                      <div class="add-to-wish-list">
                        <span class="material-symbols-outlined favorite">favorite</span>
                        &nbsp;
                        <span class="add-to-wish-list-text">2551</span>
                      </div>

                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>
          <hr class="last-line-divider">

          <div class="product-insight">
            <div class="insight-container">

              <h2 class="insight-title">Top Brand: Corsair</h2>
              <div class="sp-row">

                <div class="sp-column">
                  <div class="column-background">
                    <div class="inner-box">
                      <div class="sp-inner-row">
                        <span class="sp-text-bold">Highly Rated</span>
                      </div>
                      <div class="sp-inner-row">
                        <span class="sp-text-regular">100K+ customers rate items from this brand highly</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sp-column">
                  <div class="column-background">
                    <div class="inner-box">
                      <div class="sp-inner-row">
                        <span class="sp-text-bold">Trending</span>
                      </div>
                      <div class="sp-inner-row">
                        <span class="sp-text-regular">100K+ orders for this brand in past 3 months</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sp-column last-column">
                  <div class="column-background">
                    <div class="inner-box">
                      <div class="sp-inner-row">
                        <span class="sp-text-bold">Low Returns</span>
                      </div>
                      <div class="sp-inner-row">
                        <span class="sp-text-regular">Customers usually keep items from this brand</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="related-videos">
            <div class="videos-wrapper">

              <div class="container">
                <div class="videos">

                  <div class="videos-header">
                    <div class="text-left">
                      <h2 class="title">Videos for this product</h2>
                    </div>
                    <div class="text-right">
                      <span class="page-number">Page 1 of 3</span>
                    </div>
                  </div>

                  <div class="video-row">
                    <div class="video-slide-left">
                      <button class="left">
                        <span class="material-symbols-outlined left-arrow">chevron_left</span>
                      </button>
                    </div>

                    <div class="video-content">
                      <ol class="video-list">

                        <li class="video">
                          <div class="video-item">
                            <a href="#" class="video-link">

                              <div class="video-thumbnail">
                                <img src="Assets/Images/Icons/Video-Play-Icon.png" alt="" class="play-button">
                                <img src="Assets/Images/Video-Thumbnails/thumbnail-1.png" alt="" class="thumbnail">
                                <p class="video-duration">0:40</p>
                              </div>

                              <div class="video-description">
                                <img src="Assets/Images/Video-Thumbnails/Video-Description-Background.png" alt="" class="background-image">

                                <div class="description-content">

                                  <div class="user-picture">
                                    <div class="profile-thumbnail">
                                      <div class="profile-avatar">
                                        <img src="Assets/Images/avatar-8.png" alt="" class="avatar">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="details">
                                    <div class="video-title">
                                      <h4 class="title">Space Bar Sound Test... Should You Buy?</h4>
                                    </div>
                                    <p class="seller">? Modern Reviews ?</p>
                                  </div>

                                </div>
                              </div>

                            </a>
                          </div>
                        </li>

                        <li class="video">
                          <div class="video-item">
                            <a href="#" class="video-link">

                              <div class="video-thumbnail">
                                <img src="Assets/Images/Icons/Video-Play-Icon.png" alt="" class="play-button">
                                <img src="Assets/Images/Video-Thumbnails/thumbnail-1.png" alt="" class="thumbnail">
                                <p class="video-duration">0:40</p>
                              </div>

                              <div class="video-description">
                                <img src="Assets/Images/Video-Thumbnails/Video-Description-Background.png" alt="" class="background-image">

                                <div class="description-content">

                                  <div class="user-picture">
                                    <div class="profile-thumbnail">
                                      <div class="profile-avatar">
                                        <img src="Assets/Images/avatar-8.png" alt="" class="avatar">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="details">
                                    <div class="video-title">
                                      <h4 class="title">Space Bar Sound Test... Should You Buy?</h4>
                                    </div>
                                    <p class="seller">? Modern Reviews ?</p>
                                  </div>

                                </div>
                              </div>

                            </a>
                          </div>
                        </li>

                        <li class="video">
                          <div class="video-item">
                            <a href="#" class="video-link">

                              <div class="video-thumbnail">
                                <img src="Assets/Images/Icons/Video-Play-Icon.png" alt="" class="play-button">
                                <img src="Assets/Images/Video-Thumbnails/thumbnail-1.png" alt="" class="thumbnail">
                                <p class="video-duration">0:40</p>
                              </div>

                              <div class="video-description">
                                <img src="Assets/Images/Video-Thumbnails/Video-Description-Background.png" alt="" class="background-image">

                                <div class="description-content">

                                  <div class="user-picture">
                                    <div class="profile-thumbnail">
                                      <div class="profile-avatar">
                                        <img src="Assets/Images/avatar-8.png" alt="" class="avatar">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="details">
                                    <div class="video-title">
                                      <h4 class="title">Space Bar Sound Test... Should You Buy?</h4>
                                    </div>
                                    <p class="seller">? Modern Reviews ?</p>
                                  </div>

                                </div>
                              </div>

                            </a>
                          </div>
                        </li>

                        <li class="video">
                          <div class="video-item">
                            <a href="#" class="video-link">

                              <div class="video-thumbnail">
                                <img src="Assets/Images/Icons/Video-Play-Icon.png" alt="" class="play-button">
                                <img src="Assets/Images/Video-Thumbnails/thumbnail-1.png" alt="" class="thumbnail">
                                <p class="video-duration">0:40</p>
                              </div>

                              <div class="video-description">
                                <img src="Assets/Images/Video-Thumbnails/Video-Description-Background.png" alt="" class="background-image">

                                <div class="description-content">

                                  <div class="user-picture">
                                    <div class="profile-thumbnail">
                                      <div class="profile-avatar">
                                        <img src="Assets/Images/avatar-8.png" alt="" class="avatar">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="details">
                                    <div class="video-title">
                                      <h4 class="title">Space Bar Sound Test... Should You Buy?</h4>
                                    </div>
                                    <p class="seller">? Modern Reviews ?</p>
                                  </div>

                                </div>
                              </div>

                            </a>
                          </div>
                        </li>

                        <li class="video">
                          <div class="video-item">
                            <a href="#" class="video-link">

                              <div class="video-thumbnail">
                                <img src="Assets/Images/Icons/Video-Play-Icon.png" alt="" class="play-button">
                                <img src="Assets/Images/Video-Thumbnails/thumbnail-1.png" alt="" class="thumbnail">
                                <p class="video-duration">0:40</p>
                              </div>

                              <div class="video-description">
                                <img src="Assets/Images/Video-Thumbnails/Video-Description-Background.png" alt="" class="background-image">

                                <div class="description-content">

                                  <div class="user-picture">
                                    <div class="profile-thumbnail">
                                      <div class="profile-avatar">
                                        <img src="Assets/Images/avatar-8.png" alt="" class="avatar">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="details">
                                    <div class="video-title">
                                      <h4 class="title">Space Bar Sound Test... Should You Buy?</h4>
                                    </div>
                                    <p class="seller">? Modern Reviews ?</p>
                                  </div>

                                </div>
                              </div>

                            </a>
                          </div>
                        </li>

                      </ol>
                    </div>

                    <div class="video-slide-right">
                      <button class="right">
                        <span class="material-symbols-outlined right-arrow">chevron_right</span>
                      </button>
                    </div>
                  </div>

                </div>

                <div class="upload-your-video">
                  <a href="#" target="_blank" class="video-upload-button">Upload your video</a>
                </div>
              </div>

            </div>
          </div>
          <hr class="last-line-divider">

          <div class="large-image-bucket">

            <h2 class="bucket-image-titles">From the manufacturer</h2>

            <div class="manufacturers-video">
              <img src="Assets/Images/Video-Thumbnails/Manufacturers-Video-Thumbnail.jpg" alt="" class="video-thumbnail">
              <button class="big-play-button">
                <span class="material-symbols-outlined play">play_circle</span>
              </button>
            </div>

            <div class="manufacturer-image">
              <img src="Assets/Images/Manufacturer-Image-1.jpg" alt="" class="image">
            </div>

            <div class="manufacturer-image">
              <img src="Assets/Images/Manufacturer-Image-2.jpg" alt="" class="image">
            </div>

            <div class="manufacturer-image slider">

              <div class="m-image-carousel-left">
                <span class="material-symbols-outlined left">arrow_back_ios</span>
              </div>

              <div class="sliding-image-content">
                <ol class="image-list">

                  <li class="image-card">
                    <img src="Assets/Images/Manufacturer-Image-3.jpg" alt="" class="image">
                  </li>

                  <li class="image-card">
                    <img src="Assets/Images/Manufacturer-Image-3.jpg" alt="" class="image">
                  </li>

                  <li class="image-card">
                    <img src="Assets/Images/Manufacturer-Image-5.jpg" alt="" class="image">
                  </li>

                </ol>
              </div>

              <div class="m-image-carousel-right">
                <span class="material-symbols-outlined right">arrow_forward_ios</span>
              </div>

            </div>

          </div>
          <hr class="last-line-divider">

          <div class="customer-product-reviews">

            <div class="cr-fixed-grid-col col-left">

              <div class="col-left-top">

                <div class="left-column-title">
                  <h2>Customer reviews</h2>
                </div>

                <div class="reviewer-box">

                  <div class="the-stars">
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star</span>
                    <span class="material-symbols-rounded" aria-hidden="true">star_half</span>
                  </div>

                  <div class="average-star-rating-numerical">
                    <span class="rating-out-of-text">
                      4.6 out of 5
                    </span>
                  </div>

                </div>

                <div class="global-info">
                  <span class="total-review-count">
                    6,257 global ratings
                  </span>
                </div>

                <div class="star-percentages">
                  <div class="inner-container">
                    <ul class="histogram-table unordered-list">

                      <li class="sp-align-center five">
                        <a href="#" target="_self" class="ratings-histogram">

                          <div class="sp-section text-left">
                            <span class="sp-base text-regular">5 star</span>
                          </div>

                          <div class="sp-section histogram">
                            <div class="progressbar">
                              <div class="sp-meter-bar meter-filled" style="width: 80%;"></div>
                            </div>
                          </div>

                          <div class="sp-section text-right">
                            <span class="sp-base text-regular">80%</span>
                          </div>

                        </a>
                      </li>

                      <li class="sp-align-center four">
                        <a href="#" target="_self" class="ratings-histogram">

                          <div class="sp-section text-left">
                            <span class="sp-base text-regular">4 star</span>
                          </div>

                          <div class="sp-section histogram">
                            <div class="progressbar">
                              <div class="sp-meter-bar meter-filled" style="width: 10%;"></div>
                            </div>
                          </div>

                          <div class="sp-section text-right">
                            <span class="sp-base text-regular">10%</span>
                          </div>

                        </a>
                      </li>

                      <li class="sp-align-center three">
                        <a href="#" target="_self" class="ratings-histogram">

                          <div class="sp-section text-left">
                            <span class="sp-base text-regular">3 star</span>
                          </div>

                          <div class="sp-section histogram">
                            <div class="progressbar">
                              <div class="sp-meter-bar meter-filled" style="width: 4%;"></div>
                            </div>
                          </div>

                          <div class="sp-section text-right">
                            <span class="sp-base text-regular">4%</span>
                          </div>

                        </a>
                      </li>

                      <li class="sp-align-center two">
                        <a href="#" target="_self" class="ratings-histogram">

                          <div class="sp-section text-left">
                            <span class="sp-base text-regular">2 star</span>
                          </div>

                          <div class="sp-section histogram">
                            <div class="progressbar">
                              <div class="sp-meter-bar meter-filled" style="width: 2%;"></div>
                            </div>
                          </div>

                          <div class="sp-section text-right">
                            <span class="sp-base text-regular">2%</span>
                          </div>

                        </a>
                      </li>

                      <li class="sp-align-center one">
                        <a href="#" target="_self" class="ratings-histogram">

                          <div class="sp-section text-left">
                            <span class="sp-base text-regular">1 star</span>
                          </div>

                          <div class="sp-section histogram">
                            <div class="progressbar">
                              <div class="sp-meter-bar meter-filled" style="width: 4%;"></div>
                            </div>
                          </div>

                          <div class="sp-section text-right">
                            <span class="sp-base text-regular">4%</span>
                          </div>

                        </a>
                      </li>

                    </ul>
                  </div>
                </div>

                <div class="customer-review-info">
                  <div class="expander-container">

                    <div class="expander-header" id="expanderHeader">
                      <span class="material-symbols-outlined dropdown" id="dropdownIcon">arrow_drop_down</span>
                      <span class="expander-prompt">How customer reviews and ratings work</span>
                    </div>

                    <div class="expanded-content" id="expandedContent">

                      <p class="top-paragraph">
                        Customer Reviews, including Product Star Ratings help customers to learn more about
                        the product and decide whether it is the right product for them.
                      </p>

                      <p class="bottom-paragraph">
                        To calculate the overall star rating and percentage breakdown by star, we don’t use
                        a simple average. Instead, our system considers things like how recent a review is
                        and if the reviewer bought the item on SeniorProject. It also analyzes reviews to
                        verify trustworthiness.
                      </p>

                      <a href="#" class="more-about-reviews" target="_blank">
                        Learn more about how customers reviews work on SeniorProject
                      </a>

                    </div>

                  </div>
                </div>

              </div>
              <hr class="left-col-divider">

              <div class="col-left-bottom">
                <h3 class="cr-product-title">Review this product</h3>
                <div class="cr-review-encouragement">
                  <span>Share your thoughts with other customers</span>
                </div>
                <div class="leave-review-button">
                  <a href="#" class="lr-button-link">Write a customer review</a>
                </div>
              </div>
              <hr class="left-col-last-divider">

            </div>

            <div class="cr-fixed-grid-col col-right">
              <div class="verified-reviews">

                <div class="ref-separator"></div>

                <div class="fixed-center-right">

                  <div class="cr-local-reviews">

                    <div class="local-reviews-title">
                      <h3 class="top-large">Top reviews from Ethiopia</h3>
                    </div>

                    <div class="cr-rows">

                      <div class="sp-section-review">

                        <div class="reviewer-name-logo">
                          <a href="#" class="sp-profile">

                            <div class="sp-profile-avatar-wrapper">
                              <div class="sp-profile-avatar">
                                <img src="Assets/Images/Icons/Default-Profile-Avatar.png" alt="" class="default-profile-avatar">
                              </div>
                            </div>

                            <div class="sp-profile-content">
                              <span class="profile-name">PJM</span>
                            </div>

                          </a>
                        </div>

                        <div class="review-title">

                          <div class="the-stars">
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                          </div>

                          <h5 class="the-title">First mechanical keyboard - Pretty dang good!</h5>

                        </div>

                        <span class="review-location-date">Reviewed in Ethiopia on October 26, 2019</span>

                        <div class="product-specs-sp-badge">

                          <span class="product-specs">
                            Style: K70 RGB MK.2 LP
                            <span class="icon-text-separator">|</span>
                            Pattern: MX SPEED (Linear & Fast)
                            <span class="icon-text-separator">|</span>
                            Color: Black
                          </span>
                          <span class="icon-text-separator">|</span>

                          <a href="#" target="_blank" class="sp-verified-badge">
                            <span class="badge-bold">Verified Purchase</span>
                          </a>

                        </div>

                        <div class="review">
                          <span>
                            So this is my first venture into mechanical keyboards- I've exclusively used
                            membrane keyboards in the past, with my last being a Logitech G110 that served
                            me well for a long, long time. Unfortunately due to a spill I killed the spacebar
                            from working reliably on my Logitech, so I decided in looking for a new keyboard
                            that would serve me well in gaming and general typing, so I looked into going with
                            a mechanical. Here's my review after spending wayyyyy too many hours researching
                            the pros/cons of going with a mechanical vs a traditional membrane keyboard-
                            <br>
                            <br>
                            Build Quality - 10/10
                            <br>
                            <br>
                            You paid for a $140 keyboard, and you're certainly getting one. It's very solid,
                            and the keys themselves scream quality. The stainless steel backplate just
                            reinforces the care they put into this thing, even though you'll rarely look at,
                            not to mention touch, that piece of the board. There's no side-to-side wobble to
                            worry about- you have to actually grip a key with a couple fingers to be able to
                            wiggle one around.  Zero complaints here!

                            <div class="expandable-text" id="expandableText">
                              <span>
                                <br>
                                Ergonomics - 9.5/10
                                <br>
                                <br>
                                The low profile form factor sits nice and comfortably comparing to traditional
                                keyboards. Really, there's no complaint here. I could probably type for hours
                                on this without issue. Wrist position is pretty much as close to flat as you
                                can get, with a very comfortable an not carpel tunnel inducing angle, which
                                was one of my concerns about traditional mechanical keyboard that tend to
                                sit very high to the keys. My only complaint which garnered the .5 minus
                                was while the wrist rest feels very comfortable, it is kind of slick
                                despite its textured surface, which makes me FEEL like my hands are
                                sliding downwards, even thought they're really not.
                              </span>
                            </div>

                            <div class="expander-element" id="expanderElement">
                              <span class="material-symbols-outlined dropdown">arrow_drop_down</span>
                              <span class="expander-prompt" id="expanderPrompt">Read More</span>
                            </div>

                          </span>
                        </div>

                      </div>

                      <div class="sp-section-review">

                        <div class="reviewer-name-logo">
                          <a href="#" class="sp-profile">

                            <div class="sp-profile-avatar-wrapper">
                              <div class="sp-profile-avatar">
                                <img src="Assets/Images/Icons/Default-Profile-Avatar.png" alt="" class="default-profile-avatar">
                              </div>
                            </div>

                            <div class="sp-profile-content">
                              <span class="profile-name">PJM</span>
                            </div>

                          </a>
                        </div>

                        <div class="review-title">

                          <div class="the-stars">
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                          </div>

                          <h5 class="the-title">First mechanical keyboard - Pretty dang good!</h5>

                        </div>

                        <span class="review-location-date">Reviewed in Ethiopia on October 26, 2019</span>

                        <div class="product-specs-sp-badge">

                          <span class="product-specs">
                            Style: K70 RGB MK.2 LP
                            <span class="icon-text-separator">|</span>
                            Pattern: MX SPEED (Linear & Fast)
                            <span class="icon-text-separator">|</span>
                            Color: Black
                          </span>
                          <span class="icon-text-separator">|</span>

                          <a href="#" target="_blank" class="sp-verified-badge">
                            <span class="badge-bold">Verified Purchase</span>
                          </a>

                        </div>

                        <div class="review">
                          <span>
                            So this is my first venture into mechanical keyboards- I've exclusively used
                            membrane keyboards in the past, with my last being a Logitech G110 that served
                            me well for a long, long time. Unfortunately due to a spill I killed the spacebar
                            from working reliably on my Logitech, so I decided in looking for a new keyboard
                            that would serve me well in gaming and general typing, so I looked into going with
                            a mechanical. Here's my review after spending wayyyyy too many hours researching
                            the pros/cons of going with a mechanical vs a traditional membrane keyboard-
                            <br>
                            <br>
                            Build Quality - 10/10
                            <br>
                            <br>
                            You paid for a $140 keyboard, and you're certainly getting one. It's very solid,
                            and the keys themselves scream quality. The stainless steel backplate just
                            reinforces the care they put into this thing, even though you'll rarely look at,
                            not to mention touch, that piece of the board. There's no side-to-side wobble to
                            worry about- you have to actually grip a key with a couple fingers to be able to
                            wiggle one around.  Zero complaints here!

                            <div class="expandable-text" id="expandableText">
                              <span>
                                <br>
                                Ergonomics - 9.5/10
                                <br>
                                <br>
                                The low profile form factor sits nice and comfortably comparing to traditional
                                keyboards. Really, there's no complaint here. I could probably type for hours
                                on this without issue. Wrist position is pretty much as close to flat as you
                                can get, with a very comfortable an not carpel tunnel inducing angle, which
                                was one of my concerns about traditional mechanical keyboard that tend to
                                sit very high to the keys. My only complaint which garnered the .5 minus
                                was while the wrist rest feels very comfortable, it is kind of slick
                                despite its textured surface, which makes me FEEL like my hands are
                                sliding downwards, even thought they're really not.
                              </span>
                            </div>

                            <div class="expander-element" id="expanderElement">
                              <span class="material-symbols-outlined dropdown">arrow_drop_down</span>
                              <span class="expander-prompt" id="expanderPrompt">Read More</span>
                            </div>

                          </span>
                        </div>

                      </div>

                      <div class="sp-section-review">

                        <div class="reviewer-name-logo">
                          <a href="#" class="sp-profile">

                            <div class="sp-profile-avatar-wrapper">
                              <div class="sp-profile-avatar">
                                <img src="Assets/Images/Icons/Default-Profile-Avatar.png" alt="" class="default-profile-avatar">
                              </div>
                            </div>

                            <div class="sp-profile-content">
                              <span class="profile-name">PJM</span>
                            </div>

                          </a>
                        </div>

                        <div class="review-title">

                          <div class="the-stars">
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                          </div>

                          <h5 class="the-title">First mechanical keyboard - Pretty dang good!</h5>

                        </div>

                        <span class="review-location-date">Reviewed in Ethiopia on October 26, 2019</span>

                        <div class="product-specs-sp-badge">

                          <span class="product-specs">
                            Style: K70 RGB MK.2 LP
                            <span class="icon-text-separator">|</span>
                            Pattern: MX SPEED (Linear & Fast)
                            <span class="icon-text-separator">|</span>
                            Color: Black
                          </span>
                          <span class="icon-text-separator">|</span>

                          <a href="#" target="_blank" class="sp-verified-badge">
                            <span class="badge-bold">Verified Purchase</span>
                          </a>

                        </div>

                        <div class="review">
                          <span>
                            So this is my first venture into mechanical keyboards- I've exclusively used
                            membrane keyboards in the past, with my last being a Logitech G110 that served
                            me well for a long, long time. Unfortunately due to a spill I killed the spacebar
                            from working reliably on my Logitech, so I decided in looking for a new keyboard
                            that would serve me well in gaming and general typing, so I looked into going with
                            a mechanical. Here's my review after spending wayyyyy too many hours researching
                            the pros/cons of going with a mechanical vs a traditional membrane keyboard-
                            <br>
                            <br>
                            Build Quality - 10/10
                            <br>
                            <br>
                            You paid for a $140 keyboard, and you're certainly getting one. It's very solid,
                            and the keys themselves scream quality. The stainless steel backplate just
                            reinforces the care they put into this thing, even though you'll rarely look at,
                            not to mention touch, that piece of the board. There's no side-to-side wobble to
                            worry about- you have to actually grip a key with a couple fingers to be able to
                            wiggle one around.  Zero complaints here!

                            <div class="expandable-text" id="expandableText">
                              <span>
                                <br>
                                Ergonomics - 9.5/10
                                <br>
                                <br>
                                The low profile form factor sits nice and comfortably comparing to traditional
                                keyboards. Really, there's no complaint here. I could probably type for hours
                                on this without issue. Wrist position is pretty much as close to flat as you
                                can get, with a very comfortable an not carpel tunnel inducing angle, which
                                was one of my concerns about traditional mechanical keyboard that tend to
                                sit very high to the keys. My only complaint which garnered the .5 minus
                                was while the wrist rest feels very comfortable, it is kind of slick
                                despite its textured surface, which makes me FEEL like my hands are
                                sliding downwards, even thought they're really not.
                              </span>
                            </div>

                            <div class="expander-element" id="expanderElement">
                              <span class="material-symbols-outlined dropdown">arrow_drop_down</span>
                              <span class="expander-prompt" id="expanderPrompt">Read More</span>
                            </div>

                          </span>
                        </div>

                      </div>

                      <div class="sp-section-review">

                        <div class="reviewer-name-logo">
                          <a href="#" class="sp-profile">

                            <div class="sp-profile-avatar-wrapper">
                              <div class="sp-profile-avatar">
                                <img src="Assets/Images/Icons/Default-Profile-Avatar.png" alt="" class="default-profile-avatar">
                              </div>
                            </div>

                            <div class="sp-profile-content">
                              <span class="profile-name">PJM</span>
                            </div>

                          </a>
                        </div>

                        <div class="review-title">

                          <div class="the-stars">
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                            <span class="material-symbols-rounded star" aria-hidden="true">star</span>
                          </div>

                          <h5 class="the-title">First mechanical keyboard - Pretty dang good!</h5>

                        </div>

                        <span class="review-location-date">Reviewed in Ethiopia on October 26, 2019</span>

                        <div class="product-specs-sp-badge">

                          <span class="product-specs">
                            Style: K70 RGB MK.2 LP
                            <span class="icon-text-separator">|</span>
                            Pattern: MX SPEED (Linear & Fast)
                            <span class="icon-text-separator">|</span>
                            Color: Black
                          </span>
                          <span class="icon-text-separator">|</span>

                          <a href="#" target="_blank" class="sp-verified-badge">
                            <span class="badge-bold">Verified Purchase</span>
                          </a>

                        </div>

                        <div class="review">
                          <span>
                            So this is my first venture into mechanical keyboards- I've exclusively used
                            membrane keyboards in the past, with my last being a Logitech G110 that served
                            me well for a long, long time. Unfortunately due to a spill I killed the spacebar
                            from working reliably on my Logitech, so I decided in looking for a new keyboard
                            that would serve me well in gaming and general typing, so I looked into going with
                            a mechanical. Here's my review after spending wayyyyy too many hours researching
                            the pros/cons of going with a mechanical vs a traditional membrane keyboard-
                            <br>
                            <br>
                            Build Quality - 10/10
                            <br>
                            <br>
                            You paid for a $140 keyboard, and you're certainly getting one. It's very solid,
                            and the keys themselves scream quality. The stainless steel backplate just
                            reinforces the care they put into this thing, even though you'll rarely look at,
                            not to mention touch, that piece of the board. There's no side-to-side wobble to
                            worry about- you have to actually grip a key with a couple fingers to be able to
                            wiggle one around.  Zero complaints here!

                            <div class="expandable-text" id="expandableText">
                              <span>
                                <br>
                                Ergonomics - 9.5/10
                                <br>
                                <br>
                                The low profile form factor sits nice and comfortably comparing to traditional
                                keyboards. Really, there's no complaint here. I could probably type for hours
                                on this without issue. Wrist position is pretty much as close to flat as you
                                can get, with a very comfortable an not carpel tunnel inducing angle, which
                                was one of my concerns about traditional mechanical keyboard that tend to
                                sit very high to the keys. My only complaint which garnered the .5 minus
                                was while the wrist rest feels very comfortable, it is kind of slick
                                despite its textured surface, which makes me FEEL like my hands are
                                sliding downwards, even thought they're really not.
                              </span>
                            </div>

                            <div class="expander-element" id="expanderElement">
                              <span class="material-symbols-outlined dropdown">arrow_drop_down</span>
                              <span class="expander-prompt" id="expanderPrompt">Read More</span>
                            </div>

                          </span>
                        </div>

                      </div>

                      <hr class="last-line-divider">
                      <div class="query-more-reviews">
                        <a href="#" target="_blank" class="see-more-link">
                          See more reviews >
                        </a>
                      </div>
                      <hr class="last-line-divider">

                    </div>

                  </div>

                  <div class="cr-global-reviews"></div>

                </div>

              </div>
            </div>

          </div>

        </div>

        <div class="personalized-end-page">
          <hr class="su-last-line">

          <div class="outer-gate">
            <div class="inner-gate">

              <h2 class="pep-sign-in-title">See personalized recommendations</h2>

              <div class="sign-in-button-primary">
                <a href="#" target="_blank" class="button-inner">
                  <span class="button-text">Sign in</span>
                </a>
              </div>

              <div class="new-customer-tooltip">
                <span class="new-customer-text">New customer?</span>
                <a href="#" class="sign-up-link">Start here.</a>
              </div>

            </div>
          </div>

          <hr class="su-last-line">
        </div>

      </div>
    </section>

  </article>
</main>